@media (min-width: 760px) and (max-width: 1920px) {
.block-create{
    @include flex-row();
    gap: $space-xxs;
    padding-top: $space-m;
    align-items: flex-start;
    padding-bottom: $space-ml;
    
}
.block-create-left{
    @include flex-column();
    align-items: flex-start;
    h3{
        font-size: $font-h3;
        color: $color-main;
    }
    h1{
        font-size: $font-h1;
        color: $color-bold;
        font-weight: bold;
    }
    p{
        font-size: $font-p;
        color: $color-main;
    }
    button{
        color: $color-white;
        background-color: $color-green;
        border-radius: 15px 0 15px 0;
        border: none;
        padding: 10px 15px;
        font-weight: bold;
        font-size: $font-p;
    }
}
.block-create-right{
    position: relative;
    #create-photo{
        width: 700px;
        height: 600px;
        border-radius: 140px 0 140px 0;
        z-index: 1;
        position: relative;
    }
    #shape{
        top: 30px;
        left: 30px;
        position: absolute;
    }
}
}