// Spacing
$space-xxs: 20px;
$space-xs: 50px;
$space-s: 94px;
$space-m: 100px;
$space-ml: 220px;
$space-l: 260px;
$space-xxl: 460px;

//Colors
$color-brown: #CAA892;
$color-main: #646464;
$color-grey: #F8F8F8;
$color-form: #EEEEEE;
$color-bold: #212121;
$color-green: #37806B; 
$color-white: #FFFFFF;
$color-socials: #D5D5D5;

//Font-family
$font-family-main-semibold: 'Open Sans', sans-serif;
$font-family-big-semibold: 'Poppins', sans-serif;
$font-family-form: 'Raleway', sans-serif;

//Font sizes
$font-s: 16px;
$font-h3: 20px;
$font-h2: 24px;
$font-h2b: 48px;
$font-h1: 72px;
$font-p: 18px;