// Spacing
$space-xxs: 20px;
$space-xs: 50px;
$space-m: 100px;
$space-ml: 220px;
$space-l: 260px;

//Colors
$color-brown: #CAA892;
$color-main: #646464;
$color-bold: #212121;
$color-green: #37806B;
$color-white: #FFFFFF;

//Font-family
$font-family-main-semibold: 'Open Sans', sans-serif;
$font-family-big-semibold: 'Poppins', sans-serif;

//Font sizes
$font-s: 16px;
$font-h3: 20px;
$font-h1: 72px;
$font-p: 18px;