html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
ol,
ul,
li,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}