// Spacing
$space-xxs: 16px;
$space-xs: 48px;
$space-s: 96px;
$space-m: 104px;
$space-ml: 224px;
$space-l: 256px;
$space-xxl: 468px;

// Colors
$color-brown: #CAA892;
$color-main: #646464;
$color-grey: #F8F8F8;
$color-form: #EEEEEE;
$color-bold: #212121;
$color-green: #37806B;
$color-white: #FFFFFF;
$color-socials: #D5D5D5;

// Font-family
$font-family-main-semibold: 'Open Sans', sans-serif;
$font-family-big-semibold: 'Poppins', sans-serif;
$font-family-form: 'Raleway', sans-serif;

// Font sizes
$font-s: 16px;
$font-h3: 20px;
$font-h2: 24px;
$font-h2b: 48px;
$font-h1: 72px;
$font-p: 18px;